/* Menu Settings */
.main-nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center; }

.main-nav ul li {
  text-align: center;
  list-style: none;
  white-space: nowrap; }

.main-nav ul li a {
  display: block;
  line-height: 45px;
  padding: 0 20px; }

/*Active dropdown nav item */
.main-nav ul li:hover > a {
  background-color: #e89c30;
  color: white; }

/* Selected Dropdown nav item */
.main-nav ul li.selected > a {
  background-color: #fff;
  color: #175E91; }

/* Dropdown CSS */
.main-nav ul li {
  position: relative; }

.main-nav ul li ul {
  position: absolute;
  background-color: #1F8DD6;
  min-width: 100%;
  text-align: left;
  z-index: 999;
  display: none; }

.main-nav ul li ul li {
  display: block; }

/* Dropdown CSS */
.main-nav ul li ul ul {
  left: 100%;
  top: 0; }

/* Active on Hover */
.main-nav li:hover > ul {
  display: block; }

/* Child Indicator */
.main-nav .has-children > a {
  padding-right: 30px; }

.main-nav .has-children > a:after {
  font-family: FontAwesome;
  content: '\f107';
  position: absolute;
  display: inline-block;
  right: 8px;
  top: 0; }

.main-nav .has-children .has-children > a:after {
  content: '\f105'; }

@media only screen and (max-width: 940px) {
  .main-nav ul {
    display: block; }

  .main-nav ul li {
    display: block;
    border-radius: 0px; }

  .main-nav > ul > li > a {
    border-radius: 0px; } }
@font-face {
  font-family: 'oswald_regularregular';
  src: url("../fonts/oswald/oswald-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'cornerstoneregular';
  src: url("../fonts/cornerstone/cornerstone-webfont.woff2") format("woff2"), url("../fonts/cornerstone/cornerstone-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.module > div:first-child {
  padding-top: 30px; }

.module > div:last-child {
  padding-bottom: 30px; }

.moduleimage {
  width: 70%;
  margin: 0 auto; }

.moduleimage img {
  width: 100%; }

.module {
  padding: 20px 0px 20px 0px; }

.module:first-child {
  padding: 0px; }

.flexey {
  display: flex; }

.flexey:nth-child(even) {
  flex-direction: row-reverse; }

.card h2 {
  text-align: left;
  margin-left: 30px; }

.card {
  width: 70%;
  margin: 5px 0px; }

.card h2 {
  font-size: 3em;
  margin: 0px 30px; }

.card p {
  font-family: oswald_regularregular;
  font-size: 2em;
  margin: 10px 70px; }

.card ul {
  padding-left: 12px; }

.card li {
  font-family: oswald_regularregular, sans-serif;
  list-style: none;
  font-size: 3em; }

@media only screen and (max-width: 940px) {
  .card h2 {
    font-size: 2em;
    margin: 0px 30px; }

  .card p {
    font-size: 1.5em;
    margin: 10px 70px; }

  .card li {
    font-size: 2em; } }
body {
  background-color: #454b54;
  background-image: url("../images/bgstripesthingrey2.svg"), linear-gradient(to right, #505862, #6e7887);
  background-attachment: fixed;
  color: #454b54;
  padding: 0px;
  line-height: 1.4;
  padding: 0px; }

a:link {
  color: #e89c30;
  text-decoration: none; }

a:visited {
  color: #e89c30;
  text-decoration: none; }

h1, h2, h3, h4, h5 {
  font-family: oswald_regularregular, sans-serif;
  color: #454b54;
  text-align: center;
  font-weight: normal; }

h1 {
  margin: 50px 80px; }

h2 {
  font-size: 2.2em; }

h4 {
  margin: 0px; }

h6 {
  margin: 0px 80px; }

p {
  font-family: sans-serif;
  margin: 30px 80px; }

.markdown ul {
  margin: 0px 0px 0px 100px; }

hr {
  margin: 50px 0px;
  border-color: #454b54; }

.main-nav {
  background-color: #454b54; }

.allbox {
  background-color: white;
  width: 880px;
  border-style: solid;
  border-width: 15px;
  border-color: white;
  padding: 0px;
  margin: 8px auto;
  position: relative;
  z-index: 10;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3); }

.acrylic {
  color: white;
  margin: 20px auto;
  width: 900px;
  text-align: center; }

.titlebox {
  background-color: #454b54; }

.titlebox img {
  display: block;
  padding: 60px 0px;
  margin: auto;
  width: 60%; }

.gridcols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 20px; }

.gridcols div {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3); }

.gridcols h3 {
  padding: 0px 0px 8px 0px;
  margin-top: 0px;
  margin-bottom: 16px;
  border-bottom: 1px solid #454b54; }

.gridcols li {
  list-style: none; }

.flexparent {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0px; }

.item {
  background-color: white;
  padding: 10px;
  flex-grow: 1;
  width: 29%;
  margin: 5px; }

.item p {
  margin: 10px; }

.itemblank {
  padding: 10px;
  flex-grow: 1;
  width: 29%;
  margin: 5px; }

.contentbox {
  background-color: #ebedef;
  margin: 15px 0px;
  box-shadow: 1px 4px 5px rgba(69, 75, 84, 0.3);
  border: 4px #e9eaed solid; }

.contentbox iframe {
  margin-top: 20px; }

.markdown {
  margin: 0px 0px 50px 0px; }

.markdown img {
  outline: 10px solid white;
  max-width: 100%;
  max-height: 500px;
  display: block;
  margin: auto;
  margin-top: 25px; }

.markdown a:link {
  color: #e89c30; }

.markdown a:visited {
  color: #e89c30; }

.markdown a:hover {
  box-shadow: 0px 6px 12px rgba(69, 75, 84, 0.3);
  color: white;
  background-color: #e89c30; }

.blockanchors a {
  display: block;
  background-color: white;
  text-align: center;
  padding: 10px; }

.blockanchors a:hover {
  background-color: #e89c30;
  color: white; }

.left {
  float: left; }

.right {
  float: right; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.header .padding {
  padding: 1rem 0; }

.header {
  background-color: #1F8DD6;
  color: #eee; }

.header a {
  color: #fff; }

.header .logo {
  font-size: 1.7rem;
  text-transform: uppercase; }

.footer {
  background-color: #eee; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  width: 82%;
  margin: 0 auto;
  margin-bottom: 50px; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media only screen and (max-width: 940px) {
  p {
    margin: 30px 50px; }

  h6 {
    margin: 0px 50px; }

  .allbox {
    width: 96%; }

  .btn-link {
    margin: 15px 50px auto;
    font-size: 1.4em; }

  .titlebox img {
    width: 70%; }

  .acrylic {
    width: 96%; } }
@media only screen and (max-width: 640px) {
  .gridcols {
    grid-template-columns: 1fr; } }
@media only screen and (max-width: 500px) {
  h2 {
    font-size: 1.4em; }

  p {
    margin: 30px 0px; }

  h6 {
    margin: 0px 0px; }

  .allbox {
    border-width: 5px; }

  .flexparent {
    flex-direction: column;
    flex-wrap: nowrap; }

  .item {
    width: 95%; }

  .itemblank {
    display: none; }

  .btn-link {
    margin: 15px 0px auto; }

  .titlebox img {
    width: 90%; }

  .btn-link {
    font-size: 1em; }

  .img-one {
    width: 90%; }

  .videoWrapper {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
