@font-face {
    font-family: 'oswald_regularregular';
    src: url('../fonts/oswald/oswald-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'cornerstoneregular';
    src: url('../fonts/cornerstone/cornerstone-webfont.woff2') format('woff2'),
         url('../fonts/cornerstone/cornerstone-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
