/* Menu Settings */
.main-nav ul {
    text-align: center;
    letter-spacing: -1em;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    display: inline-block;
    letter-spacing: normal;
}

.main-nav ul li a {
    position: relative;
    display: block;
    line-height: 45px;
    color: hsl($hue02, $saturation01, 55%);
    padding: 0 20px;
    white-space: nowrap;
}

.main-nav > ul > li > a {
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;
}

/*Active dropdown nav item */
.main-nav ul li:hover > a {
    background-color: hsl($hue02, $saturation01, $brightness01);
    color: white;
}

/* Selected Dropdown nav item */
.main-nav ul li.selected > a {
    background-color: #fff;
    color: #175E91;
}

/* Dropdown CSS */
.main-nav ul li {position: relative;}

.main-nav ul li ul {
    position: absolute;
    background-color: #1F8DD6;
    min-width: 100%;
    text-align: left;
    z-index: 999;

    display: none;
}
.main-nav ul li ul li {
    display: block;
}

/* Dropdown CSS */
.main-nav ul li ul ul {
    left: 100%;
    top: 0;
}

/* Active on Hover */
.main-nav li:hover > ul {
    display: block;
}

/* Child Indicator */
.main-nav .has-children > a {
    padding-right: 30px;
}
.main-nav .has-children > a:after {
    font-family: FontAwesome;
    content: '\f107';
    position: absolute;
    display: inline-block;
    right: 8px;
    top: 0;
}

.main-nav .has-children .has-children > a:after {
    content: '\f105';
}

@media only screen and (max-width: 940px) {
.main-nav ul {    display: block;}
.main-nav ul li { display: block;
                  border-radius: 0px;}
.main-nav > ul > li > a {
                  border-radius:  0px;}                  }
