{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="contentbox">
        {{ page.content }}
        {% for module in page.collection %}
        <div
            class="module"
            style="background-color: {{ module.header.bgcolor }};
            {% if module.header.bgimage %}
            background-image: url('{{ module.header.bgimage }}');
            background-size: cover;
            {% endif %}
            ">
            {{ module.content }}
        </div>
        {% endfor %}
    </div>
{% endblock %}
