{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="contentbox {{ page.header.class }}">
    <h2>{{ page.title }}</h2>
    {{ page.content|raw }}

    {% for entry in page.header.videos %}
      <div class="videoWrapper">
        {{ entry.iframecode|raw }}
      </div>
    {% endfor %}

  </div>
{% endblock %}
